.home{
    height:100vh;
    width:100%;
    padding-top:6rem;
    background-image: url("/images/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
